<div class="container">
    <div class="row">

        <div class="sec-title text-center">
            <h2 id="collectionId">
                <%- code %>
            </h2>
            <div class="devider">
                <i class="far fa-heart"></i>
            </div>
        </div>

        <div class="sec-sub-title text-center">
            <div class="box-search">
                <div class="search-box">
                    <input type="text" id="current_code" value="<%- code %>" hidden readonly>
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                    <input type="text" value="<%- code %>" id="code" class="input-search text-center"
                        placeholder="mã bộ sưu tập...">
                </div>
            </div>

            <div class="btn-1" data-toggle="modal" data-target="#modal_upload" id="btn_show_modal_upload">
                <i class="fas fa-plus"></i>
                Tải lên
            </div>

            <div class="btn-2" data-toggle="modal" data-target="#modal_share">
                <i class="fas fa-share"></i>
                Chia sẻ
            </div>
            <div class="btn-4" data-toggle="modal" data-target="#modal_security" id="btn_toggle_security">
                <i class="fas fa-lock"></i>
                Bảo mật
            </div>
        </div>
    </div>
</div>

<div class="project-wrapper">

    <% images.forEach(item=> { %>
        <figure class="mix work-item" id="item_<%- item._id %>">
            <img src="<%- item.url %>" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="<%- item.title %>" href="<%- item.url %>">
                    <i class="fas fa-eye"></i>
                </a>
                <a class="btn-edit pointer" data-id="<%- item._id %>" data-url="<%- item.url %>" data-toggle="modal"
                    data-target="#modal_edit">
                    <i class="fas fa-pen" data-id="<%- item._id %>" data-url="<%- item.url %>"></i>
                </a>
                <a class="btn-delete pointer" data-id="<%- item._id %>" data-title="<%- item.title %>"
                    data-url="<%- item.url %>" data-toggle="modal" data-target="#modal_delete">
                    <i class="fas fa-trash" data-id="<%- item._id %>" data-title="<%- item.title %>"
                        data-url="<%- item.url %>"></i>
                </a>
                <h4 id="title_<%- item._id %>">
                    <%- item.title %>
                </h4>
                <p>
                    <%- item.url %>
                </p>
            </figcaption>
        </figure>
        <% }) %>
</div>