<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <title>
        Fast Image - <%- code %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- TODO Bootbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

    <!-- TODO Icon bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- TODO Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- TODO Animation  -->
    <link rel='stylesheet' href='https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css'>
    <script src='https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js'></script>
    <script>new WOW().init();</script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/search_box.css">
    <script src="/js/handle.js"></script>
</head>

<body>
    <div class="container-fluid p-0">
        <div class="home-cover">
            <div class="float-left">
                <a href="/" data-toggle="tooltip" title="Fast Image" data-placement="right">
                    Fast Image
                </a>
            </div>
            <div class="float-right">
                <span data-toggle="tooltip" title="ID đang truy cập" data-placement="left" style="cursor: default;">
                    ID: <%- code %>
                </span>
            </div>

            <div class="box-search">
                <div class="search-box">
                    <input type="text" id="current_code" value="<%- code %>" hidden readonly>
                    <button class="btn-search" id="btn_submit_code"><i class="fas fa-search"></i></button>
                    <input type="text" value="<%- code %>" id="code" class="input-search text-center"
                        placeholder="Nhập mã bộ sưu tập...">
                </div>
            </div>
        </div>
    </div>

    <div class="box-controller">
        <button class="btn btn-sm btn-success m-1" data-toggle="modal" data-target="#modal_upload">
            <i class="fas fa-plus-square"></i>
            Ảnh mới
        </button>
        <button class="btn btn-sm btn-primary m-1" data-toggle="modal" data-target="#modal_share">
            <i class="fas fa-share"></i>
            Chia sẻ
        </button>
        <button class="btn btn-sm btn-secondary m-1" data-toggle="modal" data-target="#modal_security"
            id="btn_toggle_security">
            <i class="fab fa-expeditedssl"></i>
            Bảo mật
        </button>
    </div>

    <div class="container">
        <div class="main-container">
            <% images.map(item=> { %>
                <div class="image-item">
                    <img src="<%- item.url %>" data-toggle="modal" data-target="#modal_view_detail"
                        data-title="<%- item.title %>" data-url="<%- item.url %>" class="img-thumb pointer">

                    <div class="image-name">
                        <span>
                            <%- item.title %>
                        </span>
                    </div>

                    <div class="item-controller">
                        <button class="btn-view" data-toggle="modal" data-target="#modal_view_detail"
                            data-url="<%- item.url %>" data-title="<%- item.title %>">
                            <i class="bi bi-eye-fill" data-url="<%- item.url %>" data-title="<%- item.title %>"></i>
                        </button>
                        <button class="btn-edit" data-toggle="modal" data-target="#modal_edit" data-id="<%- item._id %>"
                            data-url="<%- item.url %>" data-title="<%- item.title %>">
                            <i class="bi bi-pencil-fill" data-id="<%- item._id %>" data-url="<%- item.url %>"
                                data-title="<%- item.title %>">
                            </i>
                        </button>
                        <button class="btn-delete" data-id="<%- item._id %>" data-title="<%- item.title %>">
                            <i class="fas fa-trash" data-id="<%- item._id %>" data-title="<%- item.title %>"></i>
                        </button>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <!-- TODO store data -->
    <input type="text" id="load_content_clipboard" hidden>
    <input type="text" id="current_pass" value="<%- password %>" readonly hidden>
    <input type="text" id="share_state" value="<%- isShared %>" readonly hidden>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        $(document).ready(function () {
            $(window).scroll(function (event) {
                var pos_body = $('html,body').scrollTop();
                if (pos_body < 100) {
                    $(".box-controller").removeClass("sticky-controller")
                }
                if (pos_body >= 100) {
                    $(".box-controller").addClass("sticky-controller")
                }
            });
            $('.back-to-top').click(function (event) {
                $('html,body').animate({ scrollTop: 0 }, 1400);
            });
        });
    </script>

    <script src="/js/handle_init.js"></script>
    <script src="/js/handle_noti.js"></script>
    <script src="/js/handle_view_detail.js"></script>
    <script src="/js/handle_edit.js"></script>
    <script src="/js/handle_delete.js"></script>
    <script src="/js/handle_security.js"></script>
    <script src="/js/handle_share.js"></script>

    <%- include("modals/modalUpload.ejs") %>
        <%- include("modals/modalViewDetail.ejs") %>
            <%- include("modals/modalEdit.ejs") %>
                <%- include("modals/modalSecurity.ejs") %>
                    <%- include("modals/modalShare.ejs") %>

</body>

</html>